<h1>Listing holidays</h1>
<%= link_to 'New holiday', new_holiday_path %>
<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Comment</th>
  </tr>

  <% @holidays.each do |holiday| %>
      <tr>
        <td><%= holiday.start_date %></td>
        <td><%= holiday.end_date %></td>
        <td><%= holiday.comment %></td>
        <td><%= link_to 'Show', holiday_path(holiday) %></td>
        <td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
      </tr>
  <% end %>
</table>