<h1>Contracts#index</h1>
<%= link_to 'New contract', new_contract_path %>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Amount of holidays</th>
  </tr>

  <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.start_date %></td>
        <td><%= contract.end_date %></td>
        <td><%= contract.holiday_amount %></td>
        <td><%= link_to 'Show', contract_path(contract) %></td>
        <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
      </tr>
  <% end %>
</table>