<h1>New contract</h1>
<%= form_for :contract, url: contracts_path do |f| %>
    <p>
      <%= f.label :company %><br>
      <%= f.text_field :company %>
    </p>
    <p>
      <%= f.label :start_date %><br>
      <%= f.date_select :start_date %>
    </p>
    <p>
      <%= f.label :end_date %><br>
      <%= f.date_select :end_date %>
    </p>
    <p>
      <%= f.label :holiday_amount_in_days %><br>
      <%= f.text_field :holiday_amount %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>
